<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      
      <class name="com.biyl.emmatesting.testcase.hzbs.AppstageBynewVersion_001_test"/>
      
      <class name="com.biyl.emmatesting.testcase.hzbs.getAppointListByUser_001_test"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
